{% extends 'basic.html' %}
{% block title %}Set Image | My Website{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/styles/set_image.css"> {% endblock style %}
{% block onload %}onload="_set_image({{set_image}}, {{list_topics}}, '{{topic}}');"{% endblock onload %}
{% block dictionary %}Set{% endblock dictionary %} {% block topic %}{{topic}}{% endblock topic %}
{% block content %}
<form action="#" method="post">
    <label for='limit-number'>Number of Image: </label>
    <select name="limit-number" id="limit-number">
        <option value="6" id="number-image" name='6-images'>6</option>
        <option value="15" id="number-image" name='15-images'>15</option>
        <option value="21" id="number-image" name='21-images'>21</option>
    </select>
    <button class="button" type="submit" name="button" value="another-list"> other image </button>
</form>
<div class="album-image py-5 bg-light">
    <div class="container-album">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        </div>
    </div>
</div>
{% endblock content %}